<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'student_marksheet/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Excel File Template</title>
    <style>
        /* Additional styles for the header */
        .navbar-brand {
            color: #3498db;
            font-size: 24px;
            font-weight: bold;
        }
        .navbar-brand img {
            margin-right: 20px; /* You can adjust this value */
        }
    </style>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} m-2" id="msg" role="alert">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            {% if user_data.logo %}
            <a class="navbar-brand" href="#">
                <img src="{{ user_data.logo.url }}" alt="Logo" class="logo-img">
                Upload Excel File
            </a>
            {% else %}
                <a class="navbar-brand" href="#">
                    <img src="{% static 'student_marksheet/images/school-logo-icon.png' %}" class="logo-img" style="height: 50px;">
                    Upload Excel File
                </a>
            {% endif %}
            <button class="button button1" type="button" style="margin-top:0.1rem;">
                <a class="nav-link" href="{% url 'input_roll'  %}">Back To Login</a>
            </button>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-5">
        <div class="card card-secondary mx-auto" style="max-width: 400px;">
            <div class="card-header">
                <h4 class="card-title">Export Excel Files</h4>
            </div>
            <div class="card-body">
                <form role="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="file" name="myfile" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-info btn-block">Upload</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // message timeout for 2 seconds
            setTimeout(function () {
                $('#msg').fadeOut('slow');
            }, 2000); // time in milliseconds
        });
    </script>    
</body>

</html>

